body {
  font-family: "Arial", sans-serif;
  background-color: rgb(198, 237, 237);
  color: #333;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
h1,
h2 {
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  color: #888;
  margin-top: 40px;
}

h2 {
  text-align: center;
  color: cadetblue;
}

nav {
  background-color: beige;
  padding: 10px 20px;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}
nav a:hover {
  color: #ddd;
}

.container {
  padding: 20px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

input[type="text"],
input[type="time"] {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="time"]:focus {
  border-color: #4caf50;
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  display: inline-block;
  visibility: visible;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #388e3c;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Mobile-first approach */
.container {
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

/* Tablet devices */
@media (min-width: 768px) {
  .container {
    padding: 30px;
  }

  h1 {
    font-size: 3em;
  }
}

/* Desktop devices */
@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }

  h1 {
    font-size: 3.5em;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
